@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-pulse {
    animation: pulse-g3deon 1.5s infinite;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

@keyframes pulse-g3deon {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgb(37, 99, 235)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 4px rgba(37, 99, 235, 0);
    }

    100% {
        transform: scale(0.9);
    }
}
